/* ABOUT US SECTION */

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 36px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-interactive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h4 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.team-member p {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Ensure the PixiJS container is behind the content */
#pixi-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Style the about us section */
.section {
  position: relative;
  z-index: 1;
  padding: 50px 0;
}

.section-interactive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  position: relative; /* Shtojmë këtë për të siguruar vendosjen e tekstit mbi fotot */
}

.section-interactive h3 {
    position: absolute;
    top: -30px; /* Ndryshoni vlerën e top për të vendosur tekstin më lart */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1; /* Siguro që teksti të jetë mbi fotot */
}

.team-member {
  text-align: center;
  margin: 20px;
  position: relative;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h4, .team-member p {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style for custom cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: var(--main-color); /* Default cursor color */
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  transition: background-color 0.3s ease, transform 0.1s ease;
  transform: translate(-50%, -50%);
}

/* Style for cursor ring */
.cursor-ring {
  width: 50px;
  height: 50px;
  border: 2px solid var(--main-color); /* Default ring color */
  border-radius: 50%;
  position: fixed;
  z-index: 9998;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  animation: pulse-ring 2s infinite;
}

/* Animation for cursor ring */
@keyframes pulse-ring {
  0% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
  }
}





